<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/css/footer.css" rel="stylesheet" />
    </head>
    <body>
        <footer class="footer">
            <div class="container">
                <p class="text-muted"><span class="glyphicon glyphicon glyphicon-copyright-mark"></span> 2017 Berk Erol</p>
            </div>
        </footer>
    </body>
</html>
