<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_4.min.css"
      integrity="sha256-vFn0MM8utz2N3JoNzRxHXUtfCJLz5Pb9ygBY2exIaqg=" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/jquery.tablesorter.pager.min.css"
      integrity="sha256-5s+S8FT166PczMBb6epAGodQG9ZWgQUjDslc0ivNRq4=" crossorigin="anonymous"/>
<style>
    #popover-target label {
        margin: 0 5px;
        display: block;
    }
    #popover-target input {
        margin-right: 5px;
    }
</style>
