<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${applicant.firstname + ' ' + applicant.lastname}"></title>
        <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div th:include="hr/menu"></div>
        <div class="container">
            <table class="table table-hover">
                <tr>
                    <td>Name</td>
                    <td th:text="${applicant.firstname + ' ' + applicant.lastname}"></td>
                </tr>
                <tr>
                    <td>Job</td>
                    <td>
                        <table th:each="job : ${applicant.jobs}">
                            <tr>
                                <td th:text="${job.company + ' - ' + job.title}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Industry</td>
                    <td th:text="${applicant.industry}"></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td th:text="${applicant.location}"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td th:text="${applicant.email}"></td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td th:text="${applicant.id}"></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td th:text="${applicant.country}"></td>
                </tr>
                <tr>
                    <td>Headline</td>
                    <td th:text="${applicant.headline}"></td>
                </tr>
                <tr>
                    <td>Summary</td>
                    <td th:text="${applicant.summary}"></td>
                </tr>
                <tr>
                    <td>Blacklist</td>
                    <td th:text="${applicant.blacklist}? 'Yes' : 'No'"></td>
                </tr>
                <tr th:if="${applicant.blacklist}">
                    <td>Blacklist Reason</td>
                    <td th:text="${applicant.blreason}"></td>
                </tr>
                <tr>
                    <td>Blacklist Options</td>
                    <td th:if="${not applicant.blacklist}">
                        <form id="blacklist_add" th:action="@{'/hr/blacklist/add/' + ${applicant.id}}" method="post">
                            <textarea name="blreason" form="blacklist_add" class="form-control" rows="3"></textarea>
                            <br />
                            <button class="btn btn-danger" type="submit">Add to Blacklist</button>
                        </form>
                    </td>
                    <td th:if="${applicant.blacklist}">
                        <form th:action="@{'/hr/blacklist/delete/' + ${applicant.id}}" method="post">
                            <button class="btn btn-success" type="submit">Remove From Blacklist</button>
                        </form>
                    </td>
                </tr>
                <tr th:object="${#lists.size(applicant.applications)}">
                    <td>Adverts of all applications</td>
                    <td th:if="${#object != 0}"><a th:text="${#object}" th:href="${'/hr/adverts/' + applicant.id}"></a></td>
                    <td th:if="${#object == 0}">No application.</td>
                </tr>
            </table>
        </div>
    </body>
</html>
