<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Applications</title>
    </head>
    <body>
        <div th:include="hr/menu"></div>
        <div class="container">
            <div th:include="common/form"></div>
            <div th:if="${#lists.isEmpty(applications)}">No application.</div>
            <table class="table table-bordered table-hover" th:if="${not #lists.isEmpty(applications)}">
                <thead>
                    <tr>
                        <th data-priority="1" class="filter-select filter-exact filter-onlyAvail mark-ignore">Application Status</th>
                        <th data-priority="1">Advert ID</th>
                        <th data-priority="2">Advert HR</th>
                        <th data-priority="1" class="filter-select filter-exact filter-onlyAvail mark-ignore">Advert Status</th>
                        <th data-priority="1">Advert Title</th>
                        <th data-priority="1">Name</th>
                        <th data-priority="3" class="columnSelector-false">Educations</th>
                        <th data-priority="2">Experiences</th>
                        <th data-priority="2">Industry</th>
                        <th data-priority="2">Location</th>
                        <th data-priority="1">Details</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Application Status</th>
                        <th>Advert ID</th>
                        <th>Advert HR</th>
                        <th>Advert Status</th>
                        <th>Advert Title</th>
                        <th>Name</th>
                        <th>Educations</th>
                        <th>Experiences</th>
                        <th>Industry</th>
                        <th>Location</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <th colspan="11" class="ts-pager form-inline">
                            <div th:include="common/pager"></div>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="application : ${applications}" th:class="${application.status == 0}? info : (${application.status == 1}? warning : (${application.status == 2}? success : danger))">
                        <td th:text="${application.status == 0}? 'Waiting' : (${application.status == 1}? 'Processing' : (${application.status == 2}? 'Accepted' : 'Rejected'))"></td>
                        <td th:text="${application.advert.id}"></td>
                        <td th:text="${application.advert.hr}"></td>
                        <td th:text="${application.advert.status}? 'Active' : 'Passive'"></td>
                        <td th:text="${application.advert.title}"></td>
                        <td th:text="${application.applicant.firstname + ' ' + application.applicant.lastname}"></td>
                        <td>
                            <table th:each="education : ${application.applicant.educations}">
                                <tr>
                                    <td th:text="${education.school + ' - ' + education.field + ' - ' + education.degree}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table th:each="experience : ${application.applicant.experiences}">
                                <tr>
                                    <td th:text="${experience.company + ' - ' + experience.position}"></td>
                                </tr>
                            </table>
                        </td>
                        <td th:text="${application.applicant.industry}"></td>
                        <td th:text="${application.applicant.location}"></td>
                        <td><a class="btn btn-primary" th:href="${'/hr/application/' + application.id}">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:include="common/footer"></div>
    </body>
</html>
