<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Applicants</title>
    </head>
    <body>
        <div th:include="hr/menu"></div>
        <div class="container">
            <div th:include="table/form"></div>
            <div th:if="${#lists.isEmpty(applicants)}">No applicant.</div>
            <table class="table table-bordered table-striped" th:if="${not #lists.isEmpty(applicants)}">
                <thead>
                    <tr>
                        <th data-priority="2" class="sorter-false filter-false">Photo</th>
                        <th data-priority="1">Name</th>
                        <th data-priority="3" class="columnSelector-false">Educations</th>
                        <th data-priority="2">Experiences</th>
                        <th data-priority="2">Industry</th>
                        <th data-priority="2">Location</th>
                        <th data-priority="2">Blacklist</th>
                        <th data-priority="1">Details</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Educations</th>
                        <th>Experiences</th>
                        <th>Industry</th>
                        <th>Location</th>
                        <th>Blacklist</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <th colspan="8" class="ts-pager form-inline">
                            <div th:include="table/pager"></div>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="applicant : ${applicants}">
                        <td><img th:src="${applicant.photo}" alt="profile picture" width="80" height="80" /></td>
                        <td th:text="${applicant.firstname + ' ' + applicant.lastname}"></td>
                        <td>
                            <table th:each="education : ${applicant.educations}">
                                <tr>
                                    <td th:text="${education.school + ' - ' + education.field + ' - ' + education.degree}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table th:each="experience : ${applicant.experiences}">
                                <tr>
                                    <td th:text="${experience.company + ' - ' + experience.position}"></td>
                                </tr>
                            </table>
                        </td>
                        <td th:text="${applicant.industry}"></td>
                        <td th:text="${applicant.location}"></td>
                        <td  th:text="${applicant.blacklist}? 'Yes' : 'No'"></td>
                        <td><a class="btn btn-primary" th:href="${'/hr/applicant/' + applicant.id}">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
