<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Applicants</title>
    </head>
    <body>
        <div th:include="hr/menu"></div>
        <div class="container">
            <form class="form-inline" action="javascript:void(0);">
                <div class="input-group col-md-4">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control search" data-column="any" placeholder="search table" />
                </div>
                <button class="btn btn-primary reset_filter">Reset Filters</button>
                <button class="btn btn-info reset_sort">Reset Sort</button>
            </form>
            <div th:if="${#lists.isEmpty(applicants)}">No applicant.</div>
            <table class="table table-bordered table-striped" th:if="${not #lists.isEmpty(applicants)}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Educations</th>
                        <th>Experiences</th>
                        <th>Industry</th>
                        <th>Location</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Educations</th>
                        <th>Experiences</th>
                        <th>Industry</th>
                        <th>Location</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <th colspan="6" class="ts-pager form-inline">
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-default first"><span class="glyphicon glyphicon-step-backward"></span></button>
                                <button type="button" class="btn btn-default prev"><span class="glyphicon glyphicon-backward"></span></button>
                            </div>
                            <span class="pagedisplay"></span>
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-default next"><span class="glyphicon glyphicon-forward"></span></button>
                                <button type="button" class="btn btn-default last"><span class="glyphicon glyphicon-step-forward"></span></button>
                            </div>
                            <select class="form-control input-sm pagesize" title="Select page size">
                                <option selected="selected" value="5">5</option>
                                <option value="10">10</option>
                                <option value="all">All Applicants</option>
                            </select>
                            <select class="form-control input-sm gotoPage" title="Select page number"></select>
                            <button class="btn btn-success print">Print Table</button>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="applicant : ${applicants}">
                        <td th:text="${applicant.firstname + ' ' + applicant.lastname}"></td>
                        <td>
                            <table th:each="education : ${applicant.educations}">
                                <tr>
                                    <td th:text="${education.school + ' - ' + education.field + ' - ' + education.degree}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table th:each="experience : ${applicant.experiences}">
                                <tr>
                                    <td th:text="${experience.company + ' - ' + experience.position}"></td>
                                </tr>
                            </table>
                        </td>
                        <td th:text="${applicant.industry}"></td>
                        <td th:text="${applicant.location}"></td>
                        <td><a class="btn btn-primary" th:href="${'/hr/applicant/' + applicant.id}">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
