<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${application_.applicant.firstname + ' ' + application_.applicant.lastname} + ' | ' + ${application_.advert.title}"></title>
    </head>
    <body>
        <div th:include="hr/menu"></div>
        <div class="jumbotron container">
            <dl class="dl-horizontal">
                <dt>Advert ID</dt>
                <dd th:text="${application_.advert.id}"></dd>
                <dt>Advert HR</dt>
                <dd th:text="${application_.advert.hr}"></dd>
                <dt>Advert Status</dt>
                <dd th:text="${application_.advert.status}? 'Active' : 'Passive'"></dd>
                <dt>Advert Title</dt>
                <dd th:text="${application_.advert.title}"></dd>
                <dt>Name</dt>
                <dd th:text="${application_.applicant.firstname + ' ' + application_.applicant.lastname}"></dd>
                <dt>Educations</dt>
                <dd>
                    <table th:each="education : ${application_.applicant.educations}">
                        <tr>
                            <td th:text="${education.school + ' - ' + education.field + ' - ' + education.degree}"></td>
                        </tr>
                    </table>
                </dd>
                <dt>Experiences</dt>
                <dd>
                    <table th:each="experience : ${application_.applicant.experiences}">
                        <tr>
                            <td th:text="${experience.company + ' - ' + experience.position}"></td>
                        </tr>
                    </table>
                </dd>
                <dt>Industry</dt>
                <dd th:text="${application_.applicant.industry}"></dd>
                <dt>Location</dt>
                <dd th:text="${application_.applicant.location}"></dd>
            </dl>
            <div class="row col-xs-2">
                <form id="application" th:action="@{'/hr/application/change/' + ${application_.id}}" method="post">
                    <select name="status" form="application" class="form-control selectpicker" onchange="this.form.submit()">
                        <option style="background: #5bc0de; color: #fff;" th:value="0" th:selected="${application_.status == 0}">Waiting</option>
                        <option style="background: #f0ad4e; color: #fff;" th:value="1" th:selected="${application_.status == 1}">Processing</option>
                        <option style="background: #5cb85c; color: #fff;" th:value="2" th:selected="${application_.status == 2}">Accepted</option>
                        <option style="background: #d9534f; color: #fff;" th:value="3" th:selected="${application_.status == 3}">Rejected</option>
                    </select>
                </form>
            </div>
            <span style="margin-left: 10px;"></span>
            <a class="btn btn-lg btn-success" th:href="${'/hr/advert/' + application_.advert.id}">Advert</a>
            <a class="btn btn-lg btn-info" th:href="${'/hr/applicant/' + application_.applicant.id}">Applicant</a>
            <a class="btn btn-lg btn-warning" th:object="${#lists.size(application_.applicant.applications) - 1}"
               th:href="${'/hr/others/' + application_.id}">Adverts of other applications&nbsp;<span class="badge" th:text="${#object}"></span></a>
        </div>
    </body>
</html>
