<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${applicant.firstname + ' ' + applicant.lastname}"></title>
    </head>
    <body>
        <div th:include="hr/menu"></div>
        <div class="jumbotron container">
            <dl class="dl-horizontal">
                <dt>Photo</dt>
                <dd th:if="${applicant.photo != null}"><img th:src="${applicant.photo}" alt="profile picture" width="200" height="200" /></dd>
                <dd th:if="${applicant.photo == null}">No photo</dd>
                <dt>Name</dt>
                <dd th:text="${applicant.firstname + ' ' + applicant.lastname}"></dd>
                <dt>Educations</dt>
                <dd>
                    <table class="table table-condensed">
                        <tr>
                            <th>School</th>
                            <th>Field</th>
                            <th>Degree</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Summary</th>
                        </tr>
                        <tr th:each="education : ${applicant.educations}">
                            <td th:text="${education.school}"></td>
                            <td th:text="${education.field}"></td>
                            <td th:text="${education.degree}"></td>
                            <td th:text="${#dates.format(education.startdate,'dd/MM/yyyy')}"></td>
                            <td th:text="${#dates.format(education.enddate,'dd/MM/yyyy')}"></td>
                            <td th:text="${education.summary}"></td>
                        </tr>
                    </table>
                </dd>
                <dt>Experiences</dt>
                <dd>
                    <table class="table table-condensed">
                        <tr>
                            <th>Company</th>
                            <th>Position</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Summary</th>
                        </tr>
                        <tr th:each="experience : ${applicant.experiences}">
                            <td th:text="${experience.company}"></td>
                            <td th:text="${experience.position}"></td>
                            <td th:text="${#dates.format(experience.startdate,'dd/MM/yyyy')}"></td>
                            <td th:text="${#dates.format(experience.enddate,'dd/MM/yyyy')}"></td>
                            <td th:text="${experience.summary}"></td>
                        </tr>
                    </table>
                </dd>
                <dt>Industry</dt>
                <dd th:text="${applicant.industry}"></dd>
                <dt>Location</dt>
                <dd th:text="${applicant.location}"></dd>
                <dt>Email</dt>
                <dd th:text="${applicant.email}"></dd>
                <dt>ID</dt>
                <dd th:text="${applicant.id}"></dd>
                <dt>Country</dt>
                <dd th:text="${applicant.country}"></dd>
                <dt>Headline</dt>
                <dd th:text="${applicant.headline}"></dd>
                <dt>Summary</dt>
                <dd th:text="${applicant.summary}"></dd>
                <dt>Skills</dt>
                <dd th:text="${applicant.skills}"></dd>
                <dt>Honors</dt>
                <dd th:text="${applicant.honors}"></dd>
                <dt>Interests</dt>
                <dd th:text="${applicant.interests}"></dd>
                <dt>Blacklist</dt>
                <dd th:text="${applicant.blacklist}? 'Yes' : 'No'"></dd>
                <div th:if="${applicant.blacklist}">
                    <dt>Blacklist Reason</dt>
                    <dd th:text="${applicant.blreason}"></dd>
                </div>
            </dl>
            <div>
                <button class="btn btn-lg btn-warning" data-toggle="collapse" data-target="#blacklist">Blacklist Options</button>
                <a class="btn btn-lg btn-success" th:object="${#lists.size(applicant.applications)}" 
                   th:href="${'/hr/adverts/' + applicant.id}">Adverts of all applications&nbsp;<span class="badge" th:text="${#object}"></span></a>
            </div>
            <div style="margin-top: 20px;"></div>
            <div th:if="${not applicant.blacklist}" id="blacklist" class="collapse row col-xs-4">
                <form id="blacklist_add" th:action="@{'/hr/blacklist/add/' + ${applicant.id}}" method="post">
                    <textarea name="blreason" form="blacklist_add" class="form-control" rows="3" placeholder="Reason of blacklist goes here..."></textarea>
                    <br />
                    <button class="btn btn-danger" type="submit">Add to Blacklist</button>
                </form>
            </div>
            <div th:if="${applicant.blacklist}" id="blacklist" class="collapse">
                <form th:action="@{'/hr/blacklist/delete/' + ${applicant.id}}" method="post">
                    <button class="btn btn-success" type="submit">Remove From Blacklist</button>
                </form>
            </div>
        </div>
    </body>
</html>
