<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HR Log In</title>
        <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../../static/css/signin.css" rel="stylesheet" />
    </head>
    <body>
        <div th:if="${param.error}" class="alert alert-warning" role="alert">
            Username or password is wrong.
        </div>
        <div th:if="${param.logout}" class="container alert alert-info" role="alert">
            You have successfully logged out.
        </div>
        <div class="container">
            <form class="form-signin" th:action="@{/login}" method="post" >
                <h2 class="form-signin-heading">Log in</h2>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="required" autofocus="autofocus" />
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                <button class="btn btn-lg btn-info btn-block" type="reset">Reset</button>
            </form>
        </div>
    </body>
</html>
