<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Applicant Search</title>
    </head>
    <body>
        <div th:include="hr/menu"></div>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <div class="container">
            <form th:action="@{${address}}" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" id="search" name="text" class="form-control" autofocus="autofocus" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                    <a class="btn btn-info" data-toggle="popover" data-trigger="hover" data-placement="auto right" data-title="Search Options" data-html="true"
                       data-content="
                       &lt;li&gt;? matches a character&lt;/li&gt;
                       &lt;li&gt;* matches any number of characters&lt;/li&gt;
                       &lt;li&gt;Negative queries: NOT query, -query&lt;/li&gt;
                       &lt;li&gt;Multiple queries: query1 AND (query2 OR query3)&lt;/li&gt;
                       &lt;li&gt;Phrase search with double quotes&lt;/li&gt;
                       &lt;li&gt;Proximity search: query~distance&lt;/li&gt;
                       &lt;li&gt;Range queries inclusive: [lower TO upper]&lt;/li&gt;
                       &lt;li&gt;Range queries exclusive: {lower TO upper}&lt;/li&gt;
                       &lt;li&gt;Search in a specific field: field_name:search_content&lt;/li&gt;
                       &lt;br&gt;All general fields:
                       &lt;li&gt;photo, firstname, lastname, industry, location, email, id, country, headline, summary, skills, honors, interests, blacklist, blreason&lt;/li&gt;
                       &lt;br&gt;All education fields:
                       &lt;li&gt;education_id, education_school, education_field, education_degree, education_startdate, education_enddate, education_summary&lt;/li&gt;
                       &lt;br&gt;All experience fields:
                       &lt;li&gt;experience_id, experience_linkedinid, experience_company, experience_position, experience_startdate, experience_enddate, experience_summary&lt;/li&gt;
                       ">Search Options</a>
                    <script>
                        $(document).ready(function () {
                            $("#search").autocomplete({
                                source: ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"]
                            });
                            $('[data-toggle="popover"]').popover({
                                template: '<div class="popover" role="tooltip" style="width: 400px; max-width: 400px;"><div class="arrow"></div>\n\
                                           <h3 class="popover-title"></h3><div class="popover-content"><div class="data-content"></div></div></div>'
                            });
                        });
                    </script>
                </div>
            </form>
            <div style="margin-top: 20px;"></div>
            <table th:each="hitMapEntry : ${hitMap}">
                <tr>
                    <td>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="btn btn-primary" th:href="${'/hr/applicant/' + hitMapEntry.key.id}" ><h3 class="panel-title" th:text="${hitMapEntry.key.name}"></h3></a>
                            </div>
                            <div class="panel-body">
                                <dl th:each="fieldMapEntry : ${hitMapEntry.value}">
                                    <dt th:text="${fieldMapEntry.key}"></dt>
                                    <dd>
                                        <table th:each="highlight : ${fieldMapEntry.value}">
                                            <tr>
                                                <td th:utext="${highlight}"></td>
                                            </tr>
                                        </table>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div th:include="common/footer"></div>
    </body>
</html>
