<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${advert.title}"></title>
        <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div th:include="applicant/menu"></div>
        <div class="container">
            <dl class="dl-horizontal">
                <dt>ID</dt>
                <dd th:text="${advert.id}"></dd>
                <dt>HR</dt>
                <dd th:text="${advert.hr}"></dd>
                <dt>Status</dt>
                <dd th:text="${advert.status}? 'Active' : 'Passive'"></dd>
                <dt>Title</dt>
                <dd th:text="${advert.title}"></dd>
                <dt>Description</dt>
                <dd style="white-space: pre-wrap" th:text="${advert.description}"></dd>
                <dt>Properties</dt>
                <dd style="white-space: pre-wrap" th:text="${advert.properties}"></dd>
                <dt>Activation</dt>
                <dd th:text="${#dates.format(advert.activation,'dd/MM/yyyy HH:mm')}"></dd>
                <dt>Deactivation</dt>
                <dd th:text="${#dates.format(advert.deactivation,'dd/MM/yyyy HH:mm')}"></dd>
            </dl>
            <div th:if="${blacklist}" class="alert alert-danger" role="alert">
                You are in blacklist.
            </div>
            <div th:if="${not advert.status and not blacklist}" class="alert alert-warning" role="alert">
                Advert is passive.
            </div>
            <div th:if="${param.sent != null and advert.status and not blacklist}" class="alert alert-success" role="alert">
                Your application is sent.
            </div>
            <div th:if="${already and param.sent == null and advert.status and not blacklist}" class="alert alert-info" role="alert">
                You have already applied.
            </div>
            <div th:if="${connect and param.sent == null and advert.status and not blacklist}">
                <form th:action="@{/connect/linkedin}" method="post">
                    <button class="btn btn-lg btn-primary" type="submit">Connect with LinkedIn</button>
                </form>
            </div>
            <div th:if="${apply and param.sent == null and advert.status and not blacklist}">
                <form th:action="@{'/apply/' + ${advert.id}}" method="post">
                    <button class="btn btn-lg btn-primary" type="submit">Apply with LinkedIn</button>
                </form>
            </div>
        </div>
    </body>
</html>
