<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Adverts</title>
    </head>
    <body>
        <div th:include="applicant/menu"></div>
        <div class="container">
            <div th:include="table/form"></div>
            <div th:if="${#lists.isEmpty(adverts)}">No advert.</div>
            <table class="table table-bordered table-hover" th:if="${not #lists.isEmpty(adverts)}">
                <thead>
                    <tr>
                        <th data-priority="1">ID</th>
                        <th data-priority="2">HR</th>
                        <th data-priority="1" class="filter-select filter-exact filter-onlyAvail mark-ignore" data-value="Active">Status</th>
                        <th data-priority="1">Title</th>
                        <th data-priority="3" class="columnSelector-false">Description</th>
                        <th data-priority="3" class="columnSelector-false">Properties</th>
                        <th data-priority="2">Activation</th>
                        <th data-priority="2">Deactivation</th>
                        <th data-priority="1">Details</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>HR</th>
                        <th>Status</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Properties</th>
                        <th>Activation</th>
                        <th>Deactivation</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <th colspan="9" class="ts-pager form-inline">
                            <div th:include="table/pager"></div>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="advert : ${adverts}" th:class="${advert.status}? info : warning">
                        <td th:text="${advert.id}"></td>
                        <td th:text="${advert.hr}"></td>
                        <td th:text="${advert.status}? 'Active' : 'Passive'"></td>
                        <td th:text="${advert.title}"></td>
                        <td style="white-space: pre-wrap" th:text="${advert.description}"></td>
                        <td style="white-space: pre-wrap" th:text="${advert.properties}"></td>
                        <td th:text="${#dates.format(advert.activation,'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${#dates.format(advert.deactivation,'dd/MM/yyyy HH:mm')}"></td>
                        <td><a class="btn btn-primary" th:href="${'/advert/' + advert.id}">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
