<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Adverts</title>
    </head>
    <body>
        <div th:include="applicant/menu"></div>
        <div class="container">
            <div th:if="${#lists.isEmpty(adverts)}" class="alert alert-warning" role="alert">No advert.</div>
            <div th:if="${not #lists.isEmpty(adverts)}" th:include="common/form"></div>
            <table class="table table-bordered table-hover" th:if="${not #lists.isEmpty(adverts)}">
                <thead>
                    <tr>
                        <th data-priority="1">ID</th>
                        <th data-priority="2">HR</th>
                        <th data-priority="1">Title</th>
                        <th data-priority="3" class="columnSelector-false">Description</th>
                        <th data-priority="3" class="columnSelector-false">Qualifications</th>
                        <th data-priority="2">Activation</th>
                        <th data-priority="2">Deactivation</th>
                        <th data-priority="1">Details</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>HR</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Qualifications</th>
                        <th>Activation</th>
                        <th>Deactivation</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <th colspan="8" class="ts-pager form-inline">
                            <div th:include="common/pager"></div>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="advert : ${adverts}">
                        <td th:text="${advert.id}"></td>
                        <td th:text="${advert.hr}"></td>
                        <td th:text="${advert.title}"></td>
                        <td style="white-space: pre-wrap" th:utext="${advert.description}"></td>
                        <td style="white-space: pre-wrap" th:utext="${advert.qualifications}"></td>
                        <td th:if="${advert.activation == null}"></td>
                        <td th:if="${advert.activation != null}" th:text="${#dates.format(advert.activation,'dd/MM/yyyy HH:mm')}"></td>
                        <td th:if="${advert.deactivation == null}"></td>
                        <td th:if="${advert.deactivation != null}" th:text="${#dates.format(advert.deactivation,'dd/MM/yyyy HH:mm')}"></td>
                        <td><a class="btn btn-primary" th:href="${'/advert/' + advert.id}">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:include="common/footer"></div>
    </body>
</html>
