<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Applications</title>
    </head>
    <body>
        <div th:include="applicant/menu"></div>
        <div class="container">
            <div th:if="${not linkedin}">
                <div class="alert alert-warning" role="alert">
                    You should be connected with LinkedIn to view your applications.
                </div>
                <form th:action="@{/connect/linkedin}" method="post">
                    <button class="btn btn-lg btn-primary" type="submit">Connect with LinkedIn</button>
                </form>
            </div>
            <div th:if="${linkedin}" th:include="common/form"></div>
            <div th:if="${linkedin and #lists.isEmpty(applications)}">No application.</div>
            <table class="table table-bordered table-hover" th:if="${linkedin and not #lists.isEmpty(applications)}">
                <thead>
                    <tr>
                        <th data-priority="1" class="filter-select filter-exact filter-onlyAvail mark-ignore">Application Status</th>
                        <th data-priority="1">ID</th>
                        <th data-priority="2">HR</th>
                        <th data-priority="1">Title</th>
                        <th data-priority="3" class="columnSelector-false">Description</th>
                        <th data-priority="3" class="columnSelector-false">Qualifications</th>
                        <th data-priority="2">Activation</th>
                        <th data-priority="2">Deactivation</th>
                        <th data-priority="1">Details</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Application Status</th>
                        <th>ID</th>
                        <th>HR</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Qualifications</th>
                        <th>Activation</th>
                        <th>Deactivation</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <th colspan="9" class="ts-pager form-inline">
                            <div th:include="common/pager"></div>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="application : ${applications}" th:class="${application.status == 0}? info : (${application.status == 1}? warning : (${application.status == 2}? success : danger))">
                        <td th:text="${application.status == 0}? 'Waiting' : (${application.status == 1}? 'Processing' : (${application.status == 2}? 'Accepted' : 'Rejected'))"></td>
                        <td th:text="${application.advert.id}"></td>
                        <td th:text="${application.advert.hr}"></td>
                        <td th:text="${application.advert.title}"></td>
                        <td style="white-space: pre-wrap" th:utext="${application.advert.description}"></td>
                        <td style="white-space: pre-wrap" th:utext="${application.advert.qualifications}"></td>
                        <td th:if="${application.advert.activation == null}"></td>
                        <td th:if="${application.advert.activation != null}" th:text="${#dates.format(application.advert.activation,'dd/MM/yyyy HH:mm')}"></td>
                        <td th:if="${application.advert.deactivation == null}"></td>
                        <td th:if="${application.advert.deactivation != null}" th:text="${#dates.format(application.advert.deactivation,'dd/MM/yyyy HH:mm')}"></td>
                        <td><a class="btn btn-primary" th:href="${'/applicant/application/' + application.id}">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:include="common/footer"></div>
    </body>
</html>
