<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${application_.advert.title}"></title>
    </head>
    <body>
        <div th:include="applicant/menu"></div>
        <div class="jumbotron container">
            <dl class="dl-horizontal">
                <dt>Application Status</dt>
                <dd th:text="${application_.status == 0}? 'Waiting' : (${application_.status == 1}? 'Processing' : (${application_.status == 2}? 'Accepted' : 'Rejected'))"></dd>
                <dt>ID</dt>
                <dd th:text="${application_.advert.id}"></dd>
                <dt>HR</dt>
                <dd th:text="${application_.advert.hr}"></dd>
                <dt>Title</dt>
                <dd th:text="${application_.advert.title}"></dd>
                <dt>Description</dt>
                <dd style="white-space: pre-wrap" th:utext="${application_.advert.description}"></dd>
                <dt>Qualifications</dt>
                <dd style="white-space: pre-wrap" th:utext="${application_.advert.qualifications}"></dd>
                <dt>Activation</dt>
                <dd th:if="${application_.advert.activation == null}"></dd>
                <dd th:if="${application_.advert.activation != null}" th:text="${#dates.format(application_.advert.activation,'dd/MM/yyyy HH:mm')}"></dd>
                <dt>Deactivation</dt>
                <dd th:if="${application_.advert.deactivation == null}"></dd>
                <dd th:if="${application_.advert.deactivation != null}" th:text="${#dates.format(application_.advert.deactivation,'dd/MM/yyyy HH:mm')}"></dd>
            </dl>
            <a class="btn btn-lg btn-danger" th:href="${'/application/cancel/' + application_.id}">Cancel Application</a>
        </div>
    </body>
</html>
