<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Applicant</title>
        <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../../static/css/navbar-fixed-top.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">OBSS</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/adverts">Adverts</a></li>
                    <li><a href="/applicant/">Applicant Home</a></li>
                    <li>
                        <form th:action="@{/connect/linkedin}" method="delete">
                            <button class="btn btn-warning navbar-btn" type="submit">Disconnect from LinkedIn</button>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/hr/">HR Home</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>
