<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <div th:include="applicant/menu"></div>
        <link href="/static/css/home.css" rel="stylesheet" />
        <style>
            #navbar {
                padding-top: 50px !important;
            }
        </style>
        <div class="demo-1">
            <div class="content">
                <div id="large-header" class="large-header">
                    <canvas id="demo-canvas" class="hidden-xs hidden-sm"></canvas>
                    <h1 class="main-title">Job Center</h1>
                    <p class="main-tagline">
                        Find your dream job fast.
                        <br />
                        <br />
                        <a href="/adverts">Check out all adverts.</a>
                        <br/>
                        <a href="/adverts/top">Like competition? Check out most applied adverts.</a>
                        <br/>
                        <a href="/adverts/new">Love staying updated? Check out newest adverts.</a>
                    </p>
                </div>
            </div>
        </div>
        <script src="/static/js/TweenLite.min.js"></script>
        <script src="/static/js/EasePack.min.js"></script>
        <script src="/static/js/home.js"></script>
    </body>
</html>
