<!DOCTYPE html>
<html>
    <head>
        <title>Başvurular</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:include="aday/menu"></div>
        <div th:if="${not linkedin}">
            Başvurularınızı görüntüleyebilmek için ilk önce LinkedIn ile giriş yapmanız gerekiyor.
            <form th:action="@{/connect/linkedin}" method="post">
                <input type="submit" value="Bağlan" />
            </form>
        </div>
        <table th:if="${linkedin and not #lists.isEmpty(basvurular)}">
            <tr>
                <th>Başvuru Durumu</th>
                <th>Kod</th>
                <th>Uzman</th>
                <th>Durum</th>
                <th>Başlık</th>
                <th>Tanım</th>
                <th>Özellikler</th>
                <th>Aktivasyon</th>
                <th>Kapanma</th>
                <th>Ayrıntılar</th>
            </tr>
            <tr th:each="basvuru : ${basvurular}">
                <td th:text="${basvuru.durum == 0}? 'Beklemede' : (${basvuru.durum == 1}? 'İşleme Alındı' : (${basvuru.durum == 2}? 'Kabul Edildi' : 'Reddedildi'))"></td>
                <td th:text="${basvuru.ilan.kod}"></td>
                <td th:text="${basvuru.ilan.uzman}"></td>
                <td th:text="${basvuru.ilan.durum}? 'Aktif' : 'Pasif'"></td>
                <td th:text="${basvuru.ilan.baslik}"></td>
                <td style="white-space: pre-wrap" th:text="${basvuru.ilan.tanim}"></td>
                <td style="white-space: pre-wrap" th:text="${basvuru.ilan.ozellikler}"></td>
                <td th:text="${#dates.format(basvuru.ilan.aktivasyon,'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${#dates.format(basvuru.ilan.kapanma,'dd/MM/yyyy HH:mm')}"></td>
                <td><a th:href="${'/aday/basvuru/' + basvuru.kod}">Ayrıntılar</a></td>
            </tr>
        </table>
    </body>
</html>
