<!DOCTYPE html>
<html>
    <head>
        <title th:text="${ilan.baslik}"></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:include="aday/menu"></div>
        <table>
            <tr>
                <td>Başvuru Durumu</td>
                <td th:text="${basvuru.durum == 0}? 'Beklemede' : (${basvuru.durum == 1}? 'İşleme Alındı' : (${basvuru.durum == 2}? 'Kabul Edildi' : 'Reddedildi'))"></td>
            </tr>
            <tr>
                <td>Kod</td>
                <td th:text="${ilan.kod}"></td>
            </tr>
            <tr>
                <td>Uzman</td>
                <td th:text="${ilan.uzman}"></td>
            </tr>
            <tr>
                <td>Durum</td>
                <td th:text="${ilan.durum}? 'Aktif' : 'Pasif'"></td>
            </tr>
            <tr>
                <td>Başlık</td>
                <td th:text="${ilan.baslik}"></td>
            </tr>
            <tr>
                <td>Tanım</td>
                <td th:text="${ilan.tanim}"></td>
            </tr>
            <tr>
                <td>Özellikler</td>
                <td th:text="${ilan.ozellikler}"></td>
            </tr>
            <tr>
                <td>Aktivasyon</td>
                <td th:text="${#dates.format(ilan.aktivasyon,'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            <tr>
                <td>Kapanma</td>
                <td th:text="${#dates.format(ilan.kapanma,'dd/MM/yyyy HH:mm')}"></td>
            </tr>
        </table>
    </body>
</html>
