<!DOCTYPE html>
<html>
    <head>
        <title th:text="${ilan.baslik}"></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:include="aday/menu"></div>
        <table>
            <tr>
                <td>Kod</td>
                <td th:text="${ilan.kod}"></td>
            </tr>
            <tr>
                <td>Uzman</td>
                <td th:text="${ilan.uzman}"></td>
            </tr>
            <tr>
                <td>Durum</td>
                <td th:text="${ilan.durum}? 'Aktif' : 'Pasif'"></td>
            </tr>
            <tr>
                <td>Başlık</td>
                <td th:text="${ilan.baslik}"></td>
            </tr>
            <tr>
                <td>Tanım</td>
                <td style="white-space: pre-wrap" th:text="${ilan.tanim}"></td>
            </tr>
            <tr>
                <td>Özellikler</td>
                <td style="white-space: pre-wrap" th:text="${ilan.ozellikler}"></td>
            </tr>
            <tr>
                <td>Aktivasyon</td>
                <td th:text="${#dates.format(ilan.aktivasyon,'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            <tr>
                <td>Kapanma</td>
                <td th:text="${#dates.format(ilan.kapanma,'dd/MM/yyyy HH:mm')}"></td>
            </tr>
        </table>
        <div th:if="${karaliste}">Kara Listede olduğunuz için hiçbir ilana başvuru hakkınız bulunmamaktadır.</div>
        <div th:if="${uyari and param.iletildi == null and not karaliste}">Daha önceden başvurdunuz.</div>
        <div th:if="${param.iletildi != null and not karaliste}">Başvurunuz iletildi.</div>
        <div th:if="${baglan and not karaliste}">
            İlanlara başvurabilmek için ilk önce LinkedIn ile giriş yapmanız gerekiyor.
            <form th:action="@{/connect/linkedin}" method="post">
                <input type="submit" value="Bağlan" />
            </form>
        </div>
        <div th:if="${basvur and not karaliste}">
            İlanlara LinkedIn hesabınızla başvurabilirsiniz.
            <form th:action="@{'/basvur/' + ${ilan.kod}}" method="post">
                <input type="submit" value="Başvur" />
            </form>
        </div>
    </body>
</html>
