<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Job</title>
    <div th:replace="common/bootstrap-css"></div>
    <div th:replace="common/summernote-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="common/menu"></div>
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-3 mb-3">Edit Job</h1>
            <form class="mb-4" th:object="${job}" action="/recruiter/job/save" method="post">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{user}" />
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="status" onclick="changeStatus();" th:field="*{status}">
                    <label class="form-check-label" for="status" id="status-text"></label>
                </div>
                <div class="form-group">
                    <label for="logo">Logo</label>
                    <input type="text" class="form-control" id="logo" th:field="*{logo}">
                </div>
                <div class="form-group">
                    <label for="position">Position</label>
                    <input type="text" class="form-control" id="position" th:field="*{position}">
                </div>
                <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" id="company" th:field="*{company}">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" th:field="*{location}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" th:field="*{description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="activation">Activation</label>
                    <input type="text" class="form-control" id="activation" th:field="*{activation}" data-provide="datepicker">
                </div>
                <div class="form-group">
                    <label for="deactivation">Deactivation</label>
                    <input type="text" class="form-control" id="deactivation" th:field="*{deactivation}" data-provide="datepicker">
                </div>
                <button type="submit" class="btn btn-block btn-primary"><b>Save</b></button>
            </form>
        </div>
    </div>
</div>
<div th:replace="common/bootstrap-js"></div>
<div th:replace="common/summernote-js"></div>
<script>
    function changeStatus() {
        let check = document.getElementById('status');
        let text = document.getElementById('status-text');
        if (check.checked === true) {
            text.innerHTML = 'Active';
        } else {
            text.innerHTML = 'Passive';
        }
    }

    $(document).ready(function () {
        $('#description').summernote({
            height: 200
        });
        $('#activation').datepicker({ format: 'yyyy-mm-dd' });
        $('#deactivation').datepicker({ format: 'yyyy-mm-dd' });
        changeStatus();
    });
</script>
</body>
</html>
