<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Applicants</title>
    </head>
    <body>
        <div th:include="hr/menu"></div>
        <div class="container">
            <div th:if="${#lists.isEmpty(applicants)}" class="alert alert-warning" role="alert">No applicant.</div>
            <div th:if="${not #lists.isEmpty(applicants)}" th:include="common/form"></div>
            <table class="table table-bordered table-striped" th:if="${not #lists.isEmpty(applicants)}">
                <thead>
                    <tr>
                        <th data-priority="2" class="sorter-false filter-false">Photo</th>
                        <th data-priority="1">Name</th>
                        <th data-priority="3" class="columnSelector-false">Educations</th>
                        <th data-priority="2">Experiences</th>
                        <th data-priority="2">Industry</th>
                        <th data-priority="2">Location</th>
                        <th data-priority="3" class="columnSelector-false">Email</th>
                        <th data-priority="3" class="columnSelector-false">ID</th>
                        <th data-priority="3" class="columnSelector-false">Country</th>
                        <th data-priority="3" class="columnSelector-false">Headline</th>
                        <th data-priority="3" class="columnSelector-false">Summary</th>
                        <th data-priority="3" class="columnSelector-false">Skills</th>
                        <th data-priority="3" class="columnSelector-false">Honors</th>
                        <th data-priority="3" class="columnSelector-false">Interests</th>
                        <th data-priority="2" class="filter-select filter-exact filter-onlyAvail mark-ignore">Blacklist</th>
                        <th data-priority="1">Details</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Educations</th>
                        <th>Experiences</th>
                        <th>Industry</th>
                        <th>Location</th>
                        <th>Email</th>
                        <th>ID</th>
                        <th>Country</th>
                        <th>Headline</th>
                        <th>Summary</th>
                        <th>Skills</th>
                        <th>Honors</th>
                        <th>Interests</th>
                        <th>Blacklist</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <th colspan="16" class="ts-pager form-inline">
                            <div th:include="common/pager"></div>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="applicant : ${applicants}">
                        <td th:if="${applicant.photo == null}"><img src="/static/images/profile.jpg" alt="profile picture" width="80" height="80" /></td>
                        <td th:if="${applicant.photo != null}"><img th:src="${applicant.photo}" alt="profile picture" width="80" height="80" /></td>
                        <td th:text="${applicant.firstname + ' ' + applicant.lastname}"></td>
                        <td>
                            <table th:each="education : ${applicant.educations}">
                                <tr>
                                    <td th:text="${education.school + ' - ' + education.field + ' - ' + education.degree}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table th:each="experience : ${applicant.experiences}">
                                <tr>
                                    <td th:text="${experience.company + ' - ' + experience.position}"></td>
                                </tr>
                            </table>
                        </td>
                        <td th:text="${applicant.industry}"></td>
                        <td th:text="${applicant.location}"></td>
                        <td th:text="${applicant.email}"></td>
                        <td th:text="${applicant.id}"></td>
                        <td th:text="${applicant.country}"></td>
                        <td th:text="${applicant.headline}"></td>
                        <td th:text="${applicant.summary}"></td>
                        <td th:text="${applicant.skills}"></td>
                        <td th:text="${applicant.honors}"></td>
                        <td th:text="${applicant.interests}"></td>
                        <td th:text="${applicant.blacklist}? 'Yes' : 'No'"></td>
                        <td><a class="btn btn-primary" th:href="${'/hr/applicant/' + applicant.id}">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:include="common/footer"></div>
    </body>
</html>
