<!DOCTYPE html>
<html>
    <head>
        <title th:text="${basvuru.aday.firstname + ' ' + basvuru.aday.lastname} + ' | ' + ${basvuru.ilan.baslik}"></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:include="uzman/menu"></div>
        <table>
            <tr>
                <td>Başvuru Durumu</td>
                <td>
                    <form id="basvuru" th:object="${basvuru}" th:action="@{/uzman/basvuru/kaydet}" method="post">
                        <input type="hidden" th:field="*{kod}" />
                        <input type="hidden" th:field="*{aday}" />
                        <input type="hidden" th:field="*{ilan}" />
                        <select name="durum" form="basvuru" onchange="this.form.submit()">
                            <option th:value="0" th:selected="*{durum == 0}">Beklemede</option>
                            <option th:value="1" th:selected="*{durum == 1}">İşleme Alındı</option>
                            <option th:value="2" th:selected="*{durum == 2}">Kabul Edildi</option>
                            <option th:value="3" th:selected="*{durum == 3}">Reddedildi</option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
                <td>İsim</td>
                <td th:text="${basvuru.aday.firstname}"></td>
            </tr>
            <tr>
                <td>Soyisim</td>
                <td th:text="${basvuru.aday.lastname}"></td>
            </tr>
            <tr>
                <td>Pozisyon</td>
                <td>
                    <table th:each="pozisyon : ${basvuru.aday.pozisyonlar}">
                        <tr>
                            <td th:text="${pozisyon.company + ' - ' + pozisyon.title}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Sektör</td>
                <td th:text="${basvuru.aday.industry}"></td>
            </tr>
            <tr>
                <td>Yer</td>
                <td th:text="${basvuru.aday.location}"></td>
            </tr>
            <tr>
                <td>Profil</td>
                <td><a th:href="${'/uzman/aday/' + basvuru.aday.id}">Profil</a></td>
            </tr>
            <tr th:object="${#lists.size(basvuru.aday.basvurular) - 1}">
                <td>Başvurduğu diğer ilanlar</td>
                <td th:if="${#object != 0}"><a th:text="${#object + ' adet ilan'}" th:href="${'/uzman/diger/' + basvuru.kod}"></a></td>
                <td th:if="${#object == 0}">İlan bulunmamaktadır.</td>
            </tr>
        </table>
    </body>
</html>
