<!DOCTYPE html>
<html>
    <head>
        <title>Başvurular</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:include="uzman/menu"></div>
        <div th:if="${#lists.isEmpty(basvurular)}">Başvuru bulunmamaktadır.</div>
        <table th:if="${not #lists.isEmpty(basvurular)}">
            <tr>
                <th>Başvuru Durumu</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Pozisyon</th>
                <th>Sektör</th>
                <th>Yer</th>
                <th>Ayrıntılar</th>
            </tr>
            <tr th:each="basvuru : ${basvurular}">
                <td th:text="${basvuru.durum == 0}? 'Beklemede' : (${basvuru.durum == 1}? 'İşleme Alındı' : (${basvuru.durum == 2}? 'Kabul Edildi' : 'Reddedildi'))"></td>
                <td th:text="${basvuru.aday.firstname}"></td>
                <td th:text="${basvuru.aday.lastname}"></td>
                <td>
                    <table th:each="pozisyon : ${basvuru.aday.pozisyonlar}">
                        <tr>
                            <td th:text="${pozisyon.company + ' - ' + pozisyon.title}"></td>
                        </tr>
                    </table>
                </td>
                <td th:text="${basvuru.aday.industry}"></td>
                <td th:text="${basvuru.aday.location}"></td>
                <td><a th:href="${'/uzman/basvuru/' + basvuru.kod}">Ayrıntılar</a></td>
            </tr>
        </table>
    </body>
</html>
