<!DOCTYPE html>
<html>
    <head>
        <title>İlan Kaydet</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script>
            function wow() {
                let ch = document.getElementById("durum");
                let tx = document.getElementById("durum-text");
                if (ch.checked === true) {
                    tx.innerHTML = "Aktif";
                } else {
                    tx.innerHTML = "Pasif";
                }
            }
        </script>
    </head>
    <body>
        <div th:include="uzman/menu"></div>
        <form id="ilan-kaydet" th:object="${ilan}" th:action="@{/uzman/ilan/kaydet}" method="post">
            <table>
                <tr>
                    <td><label for="kod">Kod</label></td>
                    <td><input type="number" id="kod" th:field="*{kod}" readonly="readonly" /></td>
                </tr>
                <tr>
                    <td><label for="durum">Durum</label></td>
                    <td><input type="checkbox" id="durum" th:field="*{durum}" onclick="wow()" />&nbsp;<span id="durum-text"></span></td>
                <script>wow();</script>
                </tr>
                <tr>
                    <td><label for="baslik">Başlık</label></td>
                    <td><input type="text" id="baslik" th:field="*{baslik}" size="50" /></td>
                    <td th:if="${#fields.hasErrors('baslik')}" th:errors="*{baslik}"></td>
                </tr>
                <tr>
                    <td><label for="tanim">Tanım</label></td>
                    <td><textarea id="tanim" form="ilan-kaydet" th:field="*{tanim}" rows="7" cols="70"></textarea></td>
                    <td th:if="${#fields.hasErrors('tanim')}" th:errors="*{tanim}"></td>
                </tr>
                <tr>
                    <td><label for="ozellikler">Özellikler</label></td>
                    <td><textarea id="ozellikler" form="ilan-kaydet" th:field="*{ozellikler}" rows="10" cols="70"></textarea></td>
                    <td th:if="${#fields.hasErrors('ozellikler')}" th:errors="*{ozellikler}"></td>
                </tr>
                <tr>
                    <td><label for="aktivasyon">Aktivasyon</label></td>
                    <td><input type="datetime-local" id="aktivasyon" th:field="*{aktivasyon}" /></td>
                    <td th:if="${#fields.hasErrors('aktivasyon')}" th:errors="*{aktivasyon}"></td>
                </tr>
                <tr>
                    <td><label for="kapanma">Kapanma</label></td>
                    <td><input type="datetime-local" id="kapanma" th:field="*{kapanma}" /></td>
                    <td th:if="${#fields.hasErrors('kapanma')}" th:errors="*{kapanma}"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Kaydet" /></td>
                    <td><input type="reset" value="Sıfırla" /></td>
                </tr>
            </table>
        </form>
    </body>
</html>
