<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Aday Ana Sayfası</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>PROFILE</h1>
        email:<div th:text="${email}"></div>
        firstname:<div th:text="${firstname}"></div>
        headline:<div th:text="${headline}"></div>
        id:<div th:text="${id}"></div>
        industry:<div th:text="${industry}"></div>
        lastname:<div th:text="${lastname}"></div>
        summary:<div th:text="${summary}"></div>
        location<div th:text="${location}"></div>
        country<div th:text="${country}"></div>

        <h1>POSITIONS</h1>
        <table>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>summary</th>
                <th>company.id</th>
                <th>company.name</th>
                <th>company.type</th>
                <th>company.industry</th>
                <th>company.ticker</th>
            </tr>
            <tr th:each="position : ${positions}">
                <th th:text="${position.id}"></th>
                <th th:text="${position.title}"></th>
                <th th:text="${position.summary}"></th>
                <th th:text="${position.company.id}"></th>
                <th th:text="${position.company.name}"></th>
                <th th:text="${position.company.type}"></th>
                <th th:text="${position.company.industry}"></th>
                <th th:text="${position.company.ticker}"></th>
            </tr>
        </table>

    </body>
</html>
